* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
	width: 100%;
	display: block;
}



header .header-area {
	padding: 15px 0;
	background: #FFF;
	border-bottom: 1px solid #eaeaea;
}

header .header-area .container {
	max-width: 1140px;
	padding: 0 15px;
	margin: auto;
}

header .header-area .container .flex-items {
	display: flex;
	align-items: center;
}

header .header-area .container .flex-items .logo {
	flex: 3;
}

header .header-area .container .flex-items .contact .flex-contact {
	display: flex;
	align-items: center;
}

header .header-area .container .flex-items .contact .flex-contact ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header .header-area .container .flex-items .contact .flex-contact ul li {
	display: inline-block;
}

header .header-area .container .flex-items .contact .flex-contact ul li a {
	text-decoration: none;
	color: #919191;
	font-size: 13px;
	margin-right: 45px;
}

header .header-area .container .flex-items .contact .flex-contact ul li a i {
	color: #FF3414;
    margin-right: 7px;
}

.contact .flex-contact .get-fress-quote {
	display: block;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	border: 1px solid #FF3414;
	padding: 15px 30px;
	color: #FF3414;
	font-size: 16px;
	font-weight: 400;
}

.contact .flex-contact .get-fress-quote:hover {
	background: #FF3414;
	color: #FFF;
	transition: 0.5s; 
}
nav {
	background-color: white;
}
nav .container .navbar-nav .search{
	background-color:  #FF3414;
	width: 35px;
	height: 35px;
	border: 1px solid #FF3414;
	border-radius: 50%;
	line-height: 35px;
	margin-left: 430px;
}
nav .container .navbar-nav .search a{
	padding-left: 7px; 
	text-decoration: none;
	
}
nav .container .navbar-nav .search a i{
	color: white;
}
nav ul li{
	padding-right: 35px;
}
nav ul li a{
	font-size: 20px;
}


section .container-fluid{
	position: relative;
	background-image: url('./img/banner/bradcam.png');
	min-height: 300px;
	opacity: 0.9;

}
section .container-fluid:before{
	content: '';
	position: absolute;
	background: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
section .container-fluid p{
	position: relative;
	color: white;
	text-align: center;
	padding-top: 100px;
	font-size: 50px;
	font-weight: 400;
}


#pricing{
	background-color: #f6f5f5;
	margin-bottom: 100px;

}
#pricing .container h3{
	text-align: center;
	padding-top: 50px;
	color: #FF3414;
	font-size: 50px;
}
#pricing .container p{
	text-align: center;
	color: gray;
	margin-bottom: 50px;
	margin-top: 30px;
}

#pricing .container .row .row-1{

	background-color: white;
	text-align: center;
	margin-bottom: 100px;
	min-height: 500px;
	
}
#pricing .container .row .row-1 h4{
	padding-top: 30px;
}
#pricing .container .row .row-1 .span-1{
	font-size: 40px;
	color: #FF3414;
}
#pricing .container .row .row-1 ul{
	list-style-type: none;
	margin-top: 30px;
}
#pricing .container .row .row-1 ul li {
	line-height: 50px;
	height: 50px;
	font-size: 18px;
	color: gray;
	text-align: left;
	margin-left: 40px;
	position: relative;
	


}
#pricing .container .row .row-1  ul li:before{
	content: '';
	background-image: url("./img/svg_icon/check.svg");
	position: absolute;
	top: 35%;
	left: -27px;
	height: 16px;
	width: 16px;
}
#pricing .container .row .row-1 a{
	color: white;
	background-color:  #FF3414;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
}

#questions {
	margin-bottom: 100px;

}
#questions .container h2{
	text-align: center;
	font-size: 50px;
	color: #FF3414;
	margin-bottom: 50px;
}
#questions .container .row h3{
	font-size: 25px;
	margin-bottom: 20px;
	position: relative;
	margin-left: 30px;
}
#questions .container .row h3:before{
	position: absolute;
	content: '';
	height: 25px;
    width: 25px;
    left: -6%;
	top: 0%;
	background-image: url("./img/svg_icon/address.svg");
}
#questions .container .row p{
	color: gray;
	line-height: 25px;
	margin-bottom: 30px;
}
#Estimate{
	background-image: url('./img/banner/Estimate_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 120px 0;
    position: relative;
}
#Estimate::before{
	content: '';
	background-color: #001d38;
	position: absolute;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;

}
#Estimate .container .row .Estimate-info{
	position: relative;
	color: white;
	min-height: 200px;
}
#Estimate .container .row .Estimate-info h3{
	margin-bottom: 20px;
}
#Estimate .container .row .Estimate-info p{
	margin-bottom: 30px;
	font-size: 20px;
	color: gray;
}
#Estimate .container .row .Estimate-info a{
	background-color: #FF3414;
	color: white;
	padding: 15px 40px;
	border-radius: 30px;
	border: 1px solid  #FF3414 ;
	text-decoration: none;

}
#Estimate .container .row .Estimate-info a:hover{
	background: transparent;
	color: #FF3414;
}
#Estimate .container .row .form .row input{
	padding: 15px 18px;
	background-color: transparent;
	border-radius: 5px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}
#Estimate .container .row .form .row select{
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	padding: 10px 15px;
	color: white;
	border-radius: 5px;

}
#Estimate .container .row .form .row select option{
	color: black;
	border-radius: 5px;
}
#Estimate .container .row .form .row button{
	width: 100%;
	height: 50px;
	background: transparent;
	border-radius: 5px;
	border: 1px solid #FF3414;
	color:#FF3414 ;
}
#Estimate .container .row .form .row button:hover{
	background:#FF3414  ;
	color: white;
}
#Estimate .container .row .form .row .t-area {
	min-height: 150px;
}
#contact-location{
	margin-top: 50px;
	background-color: #f5fbff;
	min-height: 300px;
}
#contact-location .container{
	padding-top: 100px;
}
#contact-location .container .row .logo-location ul{
	display: flex;
	list-style-type: none;
}
#contact-location .container .row .logo-location ul li{
	padding: 20px 25px 0px 0px;
}
#contact-location  .container .row  .logo-location ul li i{
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	color: white;
}
#contact-location  .container .row  .logo-location ul li i.fa-facebook{
	background: #3b5797;

}
#contact-location  .container .row  .logo-location ul li i.fa-google-plus{
	background: #db4337;
}
#contact-location  .container .row  .logo-location ul li i.fa-twitter{
	background: #00aced;
}
#contact-location  .container .row  .logo-location ul li i.fa-youtube{
	background: #bb0000;
}
#footer{
	margin-top: 100px;
	margin-bottom: 100px;
}
#footer .container .row .services ul{
	list-style-type: none;
}
#footer .container .row .services ul li a{
	color: gray;
	text-decoration: none;
	line-height: 35px;
}
#footer .container .row .services ul li a:hover{
	color: #FF3414 ;
}
#footer .container .row .company ul{
	list-style-type: none;
}
#footer .container .row .company ul li a{
	color: gray;
	text-decoration: none;
	line-height: 35px;
}
#footer .container .row .company ul li a:hover{
	color: #FF3414 ;
}
#footer .container .row .industries ul{
	list-style-type: none;
}
#footer .container .row .industries ul li a{
	color: gray;
	text-decoration: none;
	line-height: 35px;
}
#footer .container .row .industries ul li a:hover{
	color: #FF3414 ;
}
#footer .container .subscribe form{
	position: relative;
	margin-bottom: 20px;
}
#footer .container .row .subscribe input{
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: none;
    border: 1px solid #596672;
    border-radius: 30px;
    width: 100%;
}
#footer .container .row  .subscribe button{
	position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #ff3414;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 30px;
    top: 5px;
	right: 5px;
    font-size: 13px;
    font-weight: 500;
}
#footer .container .row  .subscribe p{
	line-height: 25px;
	color: gray;
	font-size: 15px;
}

@media (max-width: 767px) {
   
	#slide  #slide .slide-item {
        height: auto;
        
    }
    nav .container button{
        margin-left: 350px;
        margin-top: -80px;
    }
    .header-area .container .contact{
        display: none;
    }

    #pricing .container h3,p{
    	display: none;
    }
    #pricing .container .row .row-1{
    	margin-bottom: -30px;
    }
    #contact-location .container{
        margin-top: -45px;


    }
    #contact-location .container .logo-location{
        margin-top: -50px;
        text-align: center;
        
    }
    #contact-location .container .logo-location ul{
        margin-left: 100px;
    }
    #contact-location .container  .info-location-1 h3{
        margin-left: 120px;
    }
    #contact-location .container  .info-location-1 p{
        margin-left: 50px;
    }
    #contact-location .container  .info-location-2 p{
        margin-left: 45px;
    }
    #contact-location .container  .info-location-2 h3{
        margin-left: 120px;
    }

    
    #footer{
        padding: 30px 0px 0px 120px;
       margin: 0;
    }
    #footer .container{
        display: flex;
        flex-direction: column;
    }
    #footer .container form{
        margin-left: -120px;
    }
    #footer .container h3{
        margin-top: 20px;
    }
    #footer .container p{
        margin-left: -100px;
    }
}



