 * {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    display: block;
}

.mobile-menu {
    display: none;
}

header .header-area {
    padding: 15px 0;
    background: #FFF;
    border-bottom: 1px solid #eaeaea;
}

header .header-area .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

header .header-area .container .flex-items {
    display: flex;
    align-items: center;
}

header .header-area .container .flex-items .logo {
    flex: 3;
}

header .header-area .container .flex-items .contact .flex-contact {
    display: flex;
    align-items: center;
}

header .header-area .container .flex-items .contact .flex-contact ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header .header-area .container .flex-items .contact .flex-contact ul li {
    display: inline-block;
}

header .header-area .container .flex-items .contact .flex-contact ul li a {
    text-decoration: none;
    color: #919191;
    font-size: 13px;
    margin-right: 45px;
}

header .header-area .container .flex-items .contact .flex-contact ul li a i {
    color: #FF3414;
    margin-right: 7px;
}

.contact .flex-contact .get-fress-quote {
    display: block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: 1px solid #FF3414;
    padding: 15px 30px;
    color: #FF3414;
    font-size: 16px;
    font-weight: 400;
}

.contact .flex-contact .get-fress-quote:hover {
    background: #FF3414;
    color: #FFF;
    transition: 0.5s; 
}
nav {
    background-color: white;
}
nav .container .navbar-nav .search{
    background-color:  #FF3414;
    width: 35px;
    height: 35px;
    border: 1px solid #FF3414;
    border-radius: 50%;
    line-height: 35px;
    margin-left: 430px;
}
nav .container .navbar-nav .search a{
    padding-left: 7px; 
    text-decoration: none;
    
}
nav .container .navbar-nav .search a i{
    color: white;
}
nav ul li{
    padding-right: 35px;
}
nav ul li a{
    font-size: 20px;
}
/* img-banner */

.container-menu {
    z-index: 1;
}

.container-fluid-img-banner {
    position: relative;
}

.container-fluid {
    padding: 0px;
}

.img img {
    width: 1305px;
    height: 300px;
}

.text-p-blog {
    position: absolute;
    top: 35%;
    left: 35%;
}

.p-blog {
    color: white;
    font-size: 80px;
}

.p-blog p {
    cursor: pointer;
}

.layer-banner-blog {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 25px;
    background-color: #00000045;
}

.layer-right-menu {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 10%;
}

.layer-menu {
    z-index: 1;
    background-color: #2b28287a;
    position: sticky;
    top: 0px;
}

.container-menu:hover .list-li {
    transform: scale(1.01);
    transition: transform 0.5s;
}


/* main */

.container-main {
    margin-top: 5%;
}

.search-keyword-main {
    position: absolute;
    top: 30%;
    right: 6%;
    transform: translateX(-2px);
}

.search-keyword-main i {
    position: absolute;
    right: 5%;
    top: 30%;
    color: #b3b1b1;
    cursor: pointer;
}

.border-search-main input[type="text"] {
    padding-left: 10px;
    padding-right: 83px;
    border-top-width: 0px;
    padding-bottom: 10px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-top: 10px;
}

.button button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 115px;
    padding-left: 113px;
    position: absolute;
    left: 7%;
    top: 60%;
    transform: translateX(-1px);
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.border-search-main {
    margin-left: 5%;
    background-color: #dad4d4;
    height: 20%;
    position: relative;
    padding-top: 1px;
}

.button button:focus {
    background-color: red;
    color: white;
}


/* categor */

.border-category {
    background-color: #dad4d4;
    margin-left: 5%;
    margin-top: 25px;
}

.list-ul-category {
    list-style: none;
    padding-left: 23px;
}

.list-li-category {
    border-bottom: 1px solid #b5b0b091;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    margin-right: 21px;
    cursor: pointer;
    color: #827a7a;
}

.li-firts-category {
    font-size: 1.2rem;
    color: #000000ad;
}

.li-end-category {
    padding-bottom: 25px;
}

.list-li-category1:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category2:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category3:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category4:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category5:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category6:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}

.list-li-category7:hover {
    transform: scale(1.01);
    transition: transform 0.1s;
}


/* recent-post */

.border-recent-post {
    background-color: #dad4d4;
    margin-left: 5%;
    margin-top: 25px;
}

.right-recent-post {
    position: relative;
}

.list-ul-recent-post {
    padding-left: 23px;
}

.text-recent-post .p-1 p {
    font-size: 16px;
    position: absolute;
    top: 23%;
    left: 0;
}

.text-recent-post .p-2 p {
    font-size: 14px;
    position: absolute;
    top: 55%;
    left: 0;
    color: #756c6c;
}

.list-ul-recent-post {
    list-style: none;
}

.right-recent-post {
    padding-left: 0;
}

.text-recent-post p {
    margin-bottom: 0;
}

.p-2 {
    padding: 0;
}

.list-li-recent-post {
    margin-bottom: 17px;
    cursor: pointer;
}

.li-firts-recent-post {
    font-size: 1.2rem;
    color: #000000ad;
    padding-top: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #c7c6c6;
    padding-right: 0px;
    margin-right: 20px;
}

.li-img-firts-recent-post {
    padding-top: 13px;
}

.li-end-recent-post {
    padding-bottom: 40px;
}

.list-li-recent-post1:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}

.list-li-recent-post2:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}

.list-li-recent-post3:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}

.list-li-recent-post4:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}

.list-li-recent-post5:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}

.img-singer {
    overflow: hidden;
}

.img-singer img {
    width: 750px;
    height: 375px;
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.img-singer img:hover {
    transform: scale(1.1, 1.1);
}


/* text-main */

.text-main {
    margin-top: 5%;
}

.text-main-firts p {
    font-size: 1.5rem;
    color: rgb(110, 169, 185);
}


/* footer */

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
#footer{
    margin-top: 100px;
    margin-bottom: 100px;
}
#footer .container .row .services ul{
    list-style-type: none;
}
#footer .container .row .services ul li a{
    color: gray;
    text-decoration: none;
    line-height: 35px;
}
#footer .container .row .services ul li a:hover{
    color: #FF3414 ;
}
#footer .container .row .company ul{
    list-style-type: none;
}
#footer .container .row .company ul li a{
    color: gray;
    text-decoration: none;
    line-height: 35px;
}
#footer .container .row .company ul li a:hover{
    color: #FF3414 ;
}
#footer .container .row .industries ul{
    list-style-type: none;
}
#footer .container .row .industries ul li a{
    color: gray;
    text-decoration: none;
    line-height: 35px;
}
#footer .container .row .industries ul li a:hover{
    color: #FF3414 ;
}
#footer .container .subscribe form{
    position: relative;
    margin-bottom: 20px;
}
#footer .container .row .subscribe input{
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: none;
    border: 1px solid #596672;
    border-radius: 30px;
    width: 100%;
}
#footer .container .row  .subscribe button{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #ff3414;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 30px;
    top: 5px;
    right: 5px;
    font-size: 13px;
    font-weight: 500;
}
#footer .container .row  .subscribe p{
    line-height: 25px;
    color: gray;
    font-size: 15px;
}


/* mobile */

path {
    display: none;
    cursor: pointer;
}

svg#icon-menu-mobile:hover {
    animation: path-hover 0.5s linear forwards;
}

@keyframes path-hover {
    0% {
        color: #8c7ae6;
    }
    50% {
        color: #273c75;
    }
    100% {
        color: #00a8ff;
    }
}

.menu-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .over-line {
        display: none;
    }
    .layer-menu {
        background: #c3cee6;
    }
}

@media (max-width: 1024px) {
    .layer-banner-blog {
        top: 64px;
        height: 476px;
    }
    .text-p-blog {
        top: 18%;
        left: 30%;
    }
    #footer{
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    li.list-li.col-lg-1.services {
        margin-right: 40px;
    }
    .label-page {
        margin-right: 14px;
    }
    .label-blog {
        margin-right: 14px;
    }
    input#input-search {
        right: 17%;
        top: 100%;
    }
    div#layer-right-menu {
        width: 250px;
        z-index: 1;
        left: 58%;
    }
    .layer-banner-blog {
        top: 65px;
    }
    .text-p-blog {
        top: 23%;
        left: 23%;
    }
}

@media (max-width: 414px) {
    .footer-container.col-12 {
        padding: 0;
    }
    .left-recent-post.col-lg-4.col-3{
        padding-left: 0;
    }
    .border-recent-post{
        margin-left: 0;
    }
    .right-main.col-lg-4.col-12{
        padding: 0;
    }
    .border-search-main {
        margin: 0;
    }
    .border-category{
        margin: 0;
    }
    .row{
        margin: 0;
    }
    .layer-menu.col-12{
        padding: 0;
    }
    .container.container-main {
        padding: 0;
    }
    .left-main.col-lg-8.col-12 {
        padding: 0;
    }
    .layer-menu {
        height: 65px;
    }
    path {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    .left-menu.col-lg-10.col-md-9 {
        display: none;
    }
    .icon {
        position: absolute;
        width: 30px;
        top: 24%;
        color: red;
    }
    div#layer-right-menu {
        width: 191px;
        z-index: 1;
        left: 17%;
    }
    div#checked {
        display: none;
    }
    input#input-search {
        display: none !important;
    }
    .carousel-inner img {
        width: 396px;
        height: 196px;
    }
    .p-blog {
        color: white;
        font-size: 25px;
    }
    .text-p-blog {
        transform: translateY(-5px);
        top: 19%;
        left: 33%;
    }
    .carousel-inner img {
        width: 100%;
        height: 175px !important;
    }
    .layer-banner-blog {
        height: 175px;
    }
    img#imgs {
        width: 100%;
        height: 300px;
    }
    .button button {
        left: 15% !important;
    }
    footer {
        position: relative;
        top: 215px;
    }
    .left-footer img {
        display: none !important;
    }
    .search-keyword-main {
        position: absolute;
        top: 30%;
        right: 15% !important;
        transform: translateX(-2px);
    }
    a.carousel-control-prev,
    a.carousel-control-next,
    ul.carousel-indicators {
        z-index: 0;
    }
    ul.list-ul-mobile {
        padding: 0;
        margin-top: 15%;
    }
    .list-mobile {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #333;
    }
    a.list-li-mobile {
        display: block;
        text-align: center;
        color: white;
        padding: 20px 0px;
        text-transform: uppercase;
        transition: color 0.5s;
        transition: background-color 0.5s;
        cursor: pointer;
    }
    a.list-li-mobile:hover {
        color: #000;
        animation: hover-li-mobile 0.2s linear forwards;
    }
    @keyframes hover-li-mobile {
        0% {
            background-color: #8c7ae6;
        }
        50% {
            background-color: #273c75;
        }
        100% {
            background-color: #00a8ff;
        }
    }
    i.fas.fa-times {
        color: white;
        font-size: 35px;
        position: fixed;
        right: 5%;
        top: 2%;
        cursor: pointer;
    }
    i.fas.fa-times:hover {
        animation: hover-times-mobile 0.2s linear forwards;
    }
    @keyframes hover-times-mobile {
        0% {
            color: #8c7ae6;
        }
        50% {
            color: #273c75;
        }
        100% {
            color: #00a8ff;
        }
    }
    .list-li-blog-mobile {
        position: relative;
    }
    .list-li-blog-mobile i.fas.fa-plus {
        position: absolute;
        right: 5%;
        top: 37%;
    }
    a.list-li-mobile.list-blog-mobile.animate__animated {
        display: none;
    }
    .list-li-page-mobile {
        position: relative;
    }
    .list-li-page-mobile i.fas.fa-plus {
        position: fixed;
        right: 5%;
        transform: translateY(3px);
    }
    .layer-blog-mobile {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }
    .layer-page-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }
    a.list-li-mobile.list-page-mobile.animate__animated {
        display: none;
    }
    .list-mobile {
        display: none;
    }
}

@media (max-height: 667px)and (max-width: 375px) {
    .row{
        margin: 0;
    }
    .layer-menu.col-12 {
        padding: 0;
    }
    .left-main.col-lg-8.col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .right-main.col-lg-4.col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .layer-menu {
        height: 65px;
    }
    path {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    .left-menu.col-lg-10.col-md-9 {
        display: none;
    }
    .icon {
        position: absolute;
        width: 30px;
        top: 21%;
        color: red;
    }
    div#layer-right-menu {
        width: 191px;
        z-index: 1;
        left: 17%;
    }
    div#checked {
        display: none;
    }
    input#input-search {
        display: none !important;
    }
    .carousel-inner img {
        width: 396px;
        height: 196px;
    }
    .p-blog {
        color: white;
        font-size: 25px;
    }
    .text-p-blog {
        transform: translateY(-4px) !important;
        top: 21% !important;
        left: 33% !important;
    }
    .carousel-inner img {
        width: 100%;
        height: 175px !important;
    }
    .layer-banner-blog {
        height: 175px;
    }
    img#imgs {
        width: 374px;
        height: 300px;
    }
    .button button {
        left: 9% !important;
        transform: translateX(1px) !important;
        padding-right: 124px;
        padding-left: 122px;
    }

    }
}

@media (max-height: 812px) and (max-width: 375px) {
    .layer-menu {
        height: 65px;
    }
    path {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    .left-menu.col-lg-10.col-md-9 {
        display: none;
    }
    .icon {
        position: absolute;
        width: 30px;
        top: 21%;
        color: red;
    }
    div#layer-right-menu {
        width: 191px;
        z-index: 1;
        left: 17%;
    }
    div#checked {
        display: none;
    }
    input#input-search {
        display: none !important;
    }
    .carousel-inner img {
        width: 396px;
        height: 196px;
    }
    .p-blog {
        color: white;
        font-size: 25px;
    }
    .text-p-blog {
        transform: translateY(-2px);
        top: 17%;
        left: 33%;
    }
    .carousel-inner img {
        width: 100%;
        height: 175px !important;
    }
    .layer-banner-blog {
        height: 175px;
    }
    img#imgs {
        width: 374px;
        height: 300px;
    }
    .button button {
        left: 12%;
        transform: translateX(0px);
    }

   
}

@media (max-width: 320px) {
    .layer-menu.col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .container-fluid-menu .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .container-main .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .layer-banner-blog {
        width: 100% !important;   
    }
    .layer-menu {
        height: 65px;
    }
    path {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    .left-menu.col-lg-10.col-md-9 {
        display: none;
    }
    .icon {
        position: absolute;
        width: 30px;
        top: 21%;
        color: red;
    }
    div#layer-right-menu {
        width: 191px;
        z-index: 1;
        left: 17%;
    }
    div#checked {
        display: none;
    }
    input#input-search {
        display: none !important;
    }
    .carousel-inner img {
        width: 396px;
        height: 196px;
    }
    .p-blog {
        color: white;
        font-size: 25px;
    }
    .text-p-blog {
        transform: translateY(-2px);
        left: 29% !important;
        top: 25% !important;
    }
    .carousel-inner img {
        width: 100%;
        height: 175px !important;
    }
    .layer-banner-blog {
        height: 175px;
    }
    img#imgs {
        width: 374px;
        height: 300px;
    }
    .button button {
        left: 14% !important;
        transform: translateX(-1px) !important;
        padding-left: 86px;
        padding-right: 86px;
    }
    
}


    @media (max-width: 767px) {
     nav .container button{
        margin-left: 350px;
        margin-top: -80px;
    }
    .header-area .container .contact{
        display: none;
    }


    }


